@model List<DIGITAL.Models.Empleado>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Empleados</h1>
    <p>Digital soluciones</a>.</p>
</div>


<div class="card">
    <div class="card-header">
        <h5>Lista de empleados</h5>
    </div>
    <div class="card-body">
        <a class="btn btn-success btn-sm" asp-action="Empleado_Detalle" asp-controller="Home" asp-route-idEmpleado="0">Crear Nuevo</a>
        <a class="btn btn-primary btn-sm" href="@Url.Action("GenerateExcel", "Home")">Exportar a Excel</a>

        <hr />
        <form id="filtro-form" method="get" action="@Url.Action("Filtrar", "Home")">
            <label for="idCliente">ID del Cliente:</label>
            <input type="number" name="idCliente" value="" />
            <button type="submit">Filtrar</button>
        </form>
        

        <div id="lista-empleados-partial">
            @await Html.PartialAsync("_ListaEmpleadosPartial", Model)
        </div>


    </div>
</div>